
.Portfolio {
  text-align: center;
  font-family: Arial, sans-serif;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f0f8ff; /* AliceBlue background color */
  min-height: 100vh;
  padding: 20px;
  width:100%;
}

input {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: 16px;
}

.image {
  border-radius: 50px;
  padding: 30px;
  width:800px;
}

div {
  margin: 20px;
}

.outermost {
  display:flex;
  flex-direction: row;
}

.drinksList {
  border-radius: 50px;
  padding: 30px;
  width:800px;
}

